@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    color: #000;   
}

/*Heading and logo*/

#logo {
    color: #1c8491;
}

#logo div {
    height: 65px;
    width: 65px;
    border: 6px solid #49c5bc;
    border-radius: 50%;
    float: left;
    font-size: 250%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 15px 50px;
}

#logo i {
    margin-top: -8px;
}


h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 4px;
    height: 65px;
    width: 120px;
    float: left;
    margin: 15px 0 15px 25px;
}

/*Navigation links*/

#menu {
    display: flex;
    flex-direction: row;
    float: right;
    font-size: 110%;
    letter-spacing: 4px;
    margin-right: 25px;
}

#menu li {
    list-style-type: none;
    margin-right: 25px;
    
}

#menu a {
    text-decoration: none;
    line-height: 105px;
    color: #282828;
}

#menu a:hover {
    border-bottom: 2px solid #1c8491;
    font-weight: 800;
    color: #1c8491;
}

.active {
    border-bottom: 1px solid #282828;
}

/*hero image*/

#hero-outer {
    clear: both;
    position: relative;
    
}

#hero-image {
    clear: both;
    height: 600px;
    width: 100%;
    background: url('../images/pexels-alexandre-saraiva-carniato-1920_1280.jpg') no-repeat 50% 87%;
    background-size: cover;
}

#text-cover {
    background-color: rgb(73, 197, 188, 0.7);
    color: #fff;
    font-size: 100%;
    font-family: 'Mulish', sans-serif;
    letter-spacing: 4px;
    padding: 15px;
    width: 350px;
    height: 120px;
    bottom: 30px;
    right: 70px;
    border-radius: 5px;
    position: absolute;
}

#text-cover h2{
    padding-bottom: 15px;
    text-transform: uppercase;
}
